/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-image: url('../src/image1.jpeg'); /* Adjust the path as needed */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling */
  height: 100vh; /* Full viewport height */
}

html {
  height: 100%; /* Full viewport height */
  overflow: hidden; /* Prevent scrolling */
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
  text-align: center;
}

.main-content {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto; /* Allow vertical scroll if necessary */
  height: 100%; /* Full height to fit within the viewport */
}
